@import 'variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-Dark-Blue);
}

#rating-box, #thank-you-box {
    width: 360px;
    height: 360px;
    border-radius: 1.5rem;
    padding: 1.5rem;
    background-image: linear-gradient(
        to bottom,
        hsl(212, 18%, 14%),
        hsl(220, 16%, 11%)
    )
}


// RATING BOX

#rating-box {
    img {
        background-color: hsl(213, 19%, 18%);
        border-radius: 50%;
        padding: 0.8rem;
        margin-bottom: 1.5rem;
    }
    h1 {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
        letter-spacing: 0.1rem;
    }
    p {
        color: var(--Light-Grey);
        font-size: 0.9rem;
        line-height: 1.4rem;
        margin-bottom: 1rem;
    }
    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        li {
            button {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                margin: 0.5rem;
                border: none;
            }
        }
    }
    .submit-btn {
        height: 2.6rem;
        width: 100%;
        border: none;
        border-radius: 1.5rem;
        font-family: inherit;
        font-size: 1rem;
    }
}

.btn {
    font-family: inherit;
    font-size: 1rem;
    color: var(--Light-Grey);
    text-align: center;
    background-color: hsl(213, 19%, 18%);
    padding-top: 0.3rem;
    transition: 0.3s;
}

.btn:hover {
    cursor: pointer;
    background-color: hsl(217, 12%, 63%);
    color: #fff;
}

.btn:focus {
    cursor: pointer;
    background-color: hsl(25, 97%, 53%);
    color: #fff;
}

.submit-btn {
    background-color: var(--Orange);
    text-transform: uppercase;
    color: #fff;
    padding-top: 0.2rem;
    letter-spacing: 0.1rem;
    transition: 0.3s;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: var(--Orange);
}

// THANK-YOU BOX

#thank-you-box {
    display: none;
    text-align: center;
    img {
        width: 150px;
        margin: 1rem 0;
    }
    h2 {
        width: fit-content;
        margin: 0 auto 1.5rem auto;
        font-size: 1rem;
        font-weight: 400;
        color: rgba(251, 116, 19, 0.5);
        background-color: hsl(213, 19%, 18%);
        border-radius: 1.5rem;
        padding: 0.4rem 1rem 0.2rem 1rem;
    }
    h1 {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 0.8rem;
        letter-spacing: 0.1rem;
    }
    p {
        color: var(--Light-Grey);
        font-size: 0.9rem;
        line-height: 1.4rem;
        margin-bottom: 1rem;
    }
}

#rating {
    display: inline-block; 
    margin: 0 0.3rem;
}


// FOOTER

.attribution {
    color: var(--Light-Grey);
    font-size: 0.9rem;
    margin-top: 3rem;
    a {
        color: var(--Orange);
    }
}

.attribution > a:visited {
    color: #fff;
}

@media only screen and (max-width: 500px) {

    html {
        font-size: 14px;
    }

    #rating-box, #thank-you-box {
        width: 290px;
        height: 290px;
        padding: 1rem;
    }

    #rating-box {
        img {
            padding: 0.8rem;
            margin-bottom: 0.5rem;
        }
        h1 {
            margin-bottom: 0.5rem;
        }
        p {
            margin-bottom: 0.8rem;
        }
        ul {
            margin-bottom: 0.8rem;
            li {
                button {
                    margin: 0.3rem;
                }
            }
        }
    }
    
    #thank-you-box {
        img {
            width: 120px;
        }
    }

    .attribution {
        font-size: 0.8rem;
    }
}